.footer {
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

body {
    background-image: linear-gradient(pink, skyblue);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}

#para {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#slideshow {
    width: 100%;
}

form {
    width: 20%;
    box-sizing: border-box;
    margin: 0 auto;
}

#your {
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

#con {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

#cont {
    text-align: center;
    font-size: 40px;
    font-family: 'Courgette', cursive;
}

#contact {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    padding: 4%;
}

#name2 {
    padding: 8%;
    width: 400px;
}

#phoneNumber {
    padding: 8%;
    width: 400px;
}

#email {
    padding: 8%;
    width: 400px;
}

#parag {
    font-size: 30px;
    font-family: fantasy;
}

#info {
    font-size: 28px;
    font-weight: bold;
    padding: 3%;
}

#pay {
    font-size: 28px;
    font-weight: bold;
    padding: 3%;
}

.name1 {
    font-size: 20px;
    text-align: center;
    padding: 6%;
}

#na {
    font-size: 25px;
    font-weight: bold;
}

.paym {
    font-size: 20px;
    text-align: center;
    padding: 7%;
}