 

@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
ul li{
    float:right;
    list-style-type: none;
    padding: 15px 30px;
    display: block;
    text-decoration: none;
    color: #fff;

}

ul li a{
    list-style-type: none;
    text-decoration: none;
    font-size: 30px;
    color: purple;
}
.nav{
    float:center ;
    list-style-type:none;
    text-decoration: none;
}

ul li a:hover{
    background-color: #fff;
    color:hotpink;
}

.footer {
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

body {
    background-image: linear-gradient(pink, skyblue);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}

#para {
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


form {
    width: 20%;
    box-sizing: border-box;
    margin: 0 auto;
}

#your {
    font-size: 38px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}
.header{
    margin-bottom: 1%;
}
.buttonDonate{

    font-size: 40px;
    font-family: 'Courgette', cursive;
    color: aqua;
    padding: 21px;

}

button{
    color: black;
    padding: 21px;
    border-radius: 40%;
    background:hotpink;
}
.container-icons{
text-align: center;
/* margin-left: 50%;
margin-right: 50%; */
}

nav h1{
    font-family: 'Nosifer', cursive;
    color: hotpink;


#name2 {
    padding: 8%;
    width: 400px;
}

#phoneNumber {
    padding: 8%;
    width: 400px;
}

#email {
    padding: 8%;
    width: 400px;
}

#parag {
    font-size: 30px;
    font-family: fantasy;
}

#info {
    font-size: 28px;
    font-weight: bold;
    padding: 3%;
}

#pay {
    font-size: 28px;
    font-weight: bold;
    padding: 3%;
}

.name1 {
    font-size: 20px;
    text-align: center;
    padding: 6%;
}

#na {
    font-size: 25px;
    font-weight: bold;
}

.paym {
    font-size: 20px;
    text-align: center;
    padding: 7%;

}