
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
body {
    background: url("https://bit.ly/2CFtMnl");
}
#images {
    margin-top: 20px;
}
nav h1{
    font-family: 'Nosifer', cursive;
    background-image: hotpink;
}
body {
    background-image: linear-gradient(pink, skyblue);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}
  #name {
    margin-right: 50%;
    width: 30%;
  }
  #number{
    margin-left: 50%;
    width: 60%;
  }
  #submitbtn {
    color: deeppink;
    border: 2px solid lightskyblue;
    background-color: white;
    border-radius: 10px;
  }
