
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');
body {
    background: url("https://bit.ly/2CFtMnl");
}
#images {
    margin-top: 20px;
}
nav h1{
    font-family: 'Nosifer', cursive;
    background-image: hotpink;
}
body {
    background-image: linear-gradient(pink, skyblue);
    background-repeat: no-repeat;
    background-position: cover;
    height: 100vh;
}
