body {
    background: url("https://bit.ly/2CFtMnl");
}
#images {
    margin-top: 20px;
}

#btn {
    color: deeppink;
    border: 2px solid lightskyblue;
    background-color: white;
    border-radius: 10px;
}
textarea {
    margin-top: 5vh;
    height: 40vh;
    width: 40%;
}
#contact-form {
    padding-top: 20px;
    margin-left: 30%;
    display: none;
}
  #name {
    margin-right: 50%;
    width: 30%;
  }
  #number{
    margin-left: 50%;
    width: 60%;
  }
  #submitbtn {
    color: deeppink;
    border: 2px solid lightskyblue;
    background-color: white;
    border-radius: 10px;
  }